/* -------- colors -------- */
:root {
  --background-color: rgb(96, 96, 96);
  --border: #000;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  /* 1 rem = 10px */
  scroll-behavior: smooth;
  /* scrollbar smooth */
}

.main-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tree {
  background-color: green;
  height: 100%;
  width: 17.5%;
}

.mid-container, .right-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mid-container {
  background-color: red;
  width: 65%;
}

.mid-container .text-editor {
  background-color: blue;
  height: 60%;
}

.mid-container .virtual-kb {
  background-color: #fff;
  height: 40%;
  position: relative;
}

/* ========== KEYBOARD ========== */
.container-out-kb {
  background-color: purple;
  width: 100%;
  height: 100%;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
}

.container-out-kb .line-kb {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.container-out-kb .line1, .container-out-kb .line2, .container-out-kb .line3, .container-out-kb .line4, .container-out-kb .line5 {
  position: relative;
  padding: 1px;
}

.container-out-kb .line1--key1, .container-out-kb .line1--key2, .container-out-kb .line1--key3, .container-out-kb .line1--key4, .container-out-kb .line1--key5, .container-out-kb .line1--key6, .container-out-kb .line1--key7, .container-out-kb .line1--key8, .container-out-kb .line1--key9, .container-out-kb .line1--key10, .container-out-kb .line1--key11, .container-out-kb .line1--key12, .container-out-kb .line1--key13, .container-out-kb .line1--key14, .container-out-kb .line1--key15, .container-out-kb .line2--key1, .container-out-kb .line2--key2, .container-out-kb .line2--key3, .container-out-kb .line2--key4, .container-out-kb .line2--key5, .container-out-kb .line2--key6, .container-out-kb .line2--key7, .container-out-kb .line2--key8, .container-out-kb .line2--key9, .container-out-kb .line2--key10, .container-out-kb .line2--key11, .container-out-kb .line2--key12, .container-out-kb .line2--key13, .container-out-kb .line2--key14, .container-out-kb .line2--key15, .container-out-kb .line3--key1, .container-out-kb .line3--key2, .container-out-kb .line3--key3, .container-out-kb .line3--key4, .container-out-kb .line3--key5, .container-out-kb .line3--key6, .container-out-kb .line3--key7, .container-out-kb .line3--key8, .container-out-kb .line3--key9, .container-out-kb .line3--key10, .container-out-kb .line3--key11, .container-out-kb .line3--key12, .container-out-kb .line3--key13, .container-out-kb .line3--key14, .container-out-kb .line3--key15, .container-out-kb .line4--key1, .container-out-kb .line4--key2, .container-out-kb .line4--key3, .container-out-kb .line4--key4, .container-out-kb .line4--key5, .container-out-kb .line4--key6, .container-out-kb .line4--key7, .container-out-kb .line4--key8, .container-out-kb .line4--key9, .container-out-kb .line4--key10, .container-out-kb .line4--key11, .container-out-kb .line4--key12, .container-out-kb .line4--key13, .container-out-kb .line4--key14, .container-out-kb .line4--key15, .container-out-kb .line5--key1, .container-out-kb .line5--key2, .container-out-kb .line5--key3, .container-out-kb .line5--key4, .container-out-kb .line5--key5, .container-out-kb .line5--key6, .container-out-kb .line5--key7, .container-out-kb .line5--key8, .container-out-kb .line5--key9, .container-out-kb .line5--key10, .container-out-kb .line5--key11, .container-out-kb .line5--key12, .container-out-kb .line5--key13, .container-out-kb .line5--key14, .container-out-kb .line5--key15 {
  background-color: #fff;
  width: 6.25%;
  min-width: 6.25%;
  height: 100%;
  margin-right: 1px;
  margin-top: 1px;
}

.container-out-kb .line1--key1:hover, .container-out-kb .line1--key2:hover, .container-out-kb .line1--key3:hover, .container-out-kb .line1--key4:hover, .container-out-kb .line1--key5:hover, .container-out-kb .line1--key6:hover, .container-out-kb .line1--key7:hover, .container-out-kb .line1--key8:hover, .container-out-kb .line1--key9:hover, .container-out-kb .line1--key10:hover, .container-out-kb .line1--key11:hover, .container-out-kb .line1--key12:hover, .container-out-kb .line1--key13:hover, .container-out-kb .line1--key14:hover, .container-out-kb .line1--key15:hover, .container-out-kb .line2--key1:hover, .container-out-kb .line2--key2:hover, .container-out-kb .line2--key3:hover, .container-out-kb .line2--key4:hover, .container-out-kb .line2--key5:hover, .container-out-kb .line2--key6:hover, .container-out-kb .line2--key7:hover, .container-out-kb .line2--key8:hover, .container-out-kb .line2--key9:hover, .container-out-kb .line2--key10:hover, .container-out-kb .line2--key11:hover, .container-out-kb .line2--key12:hover, .container-out-kb .line2--key13:hover, .container-out-kb .line2--key14:hover, .container-out-kb .line2--key15:hover, .container-out-kb .line3--key1:hover, .container-out-kb .line3--key2:hover, .container-out-kb .line3--key3:hover, .container-out-kb .line3--key4:hover, .container-out-kb .line3--key5:hover, .container-out-kb .line3--key6:hover, .container-out-kb .line3--key7:hover, .container-out-kb .line3--key8:hover, .container-out-kb .line3--key9:hover, .container-out-kb .line3--key10:hover, .container-out-kb .line3--key11:hover, .container-out-kb .line3--key12:hover, .container-out-kb .line3--key13:hover, .container-out-kb .line3--key14:hover, .container-out-kb .line3--key15:hover, .container-out-kb .line4--key1:hover, .container-out-kb .line4--key2:hover, .container-out-kb .line4--key3:hover, .container-out-kb .line4--key4:hover, .container-out-kb .line4--key5:hover, .container-out-kb .line4--key6:hover, .container-out-kb .line4--key7:hover, .container-out-kb .line4--key8:hover, .container-out-kb .line4--key9:hover, .container-out-kb .line4--key10:hover, .container-out-kb .line4--key11:hover, .container-out-kb .line4--key12:hover, .container-out-kb .line4--key13:hover, .container-out-kb .line4--key14:hover, .container-out-kb .line4--key15:hover, .container-out-kb .line5--key1:hover, .container-out-kb .line5--key2:hover, .container-out-kb .line5--key3:hover, .container-out-kb .line5--key4:hover, .container-out-kb .line5--key5:hover, .container-out-kb .line5--key6:hover, .container-out-kb .line5--key7:hover, .container-out-kb .line5--key8:hover, .container-out-kb .line5--key9:hover, .container-out-kb .line5--key10:hover, .container-out-kb .line5--key11:hover, .container-out-kb .line5--key12:hover, .container-out-kb .line5--key13:hover, .container-out-kb .line5--key14:hover, .container-out-kb .line5--key15:hover {
  background-color: #303030;
  color: white;
}

.container-out-kb .line1--key15 {
  width: 15%;
}

.container-out-kb .line2--key1, .container-out-kb .line4--key1 {
  width: 11%;
}

.container-out-kb .line3--key1 {
  width: 14%;
}

.container-out-kb .line5--key2 {
  width: 75%;
}

.container-out-kb .line1, .container-out-kb .line3, .container-out-kb .line5 {
  background-color: salmon;
}

.container-out-kb .line2, .container-out-kb .line4 {
  background-color: sandybrown;
}

/* ========== END KEYBOARD ========== */
.right-container {
  background-color: #303030;
  width: 17.5%;
}

.right-container .code-struct {
  background-color: red;
  height: 60%;
}

.right-container .nav {
  background-color: yellow;
  height: 40%;
  padding: 10px;
}

.right-container .nav .container-circle {
  width: 100%;
  position: relative;
  background-color: #101010;
}

.right-container .nav .container-circle::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.right-container .nav .container-circle .circle-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-container .nav .container-circle .circle-outer .circle-inner {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: blue;
  z-index: 10;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */